<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <p th:text="${data.Date}">날짜</p>
    <p th:text="${data.startTime} ">startTime</p>
    <p th:text="${data.endTime} " >끝나는 시간</p>
    <p th:text="${data.tableNumber}">테이블번호</p>
    <p th:text="${data.howMany}">총 인원수</p>
    <a href="/GoMyPage">마이페이지</a>
            
</body>
</html>